body{
    margin: 0;
    padding: 0;
    background-image: url(../imagenes/v1016-b-09.jpg);
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    color: #ffffff;
}

p{
    color: #ffffff;
    font-size: 30px;
}